<div class="container">
    <div class="body">
        <div class="presentation">
            <h3></h3>
            <p>
                Pour tous vos évènement, Anniversaire, Mariage, Baptême, Reunion de bureau ou Conference. <br>
                Faites vos course chez nous en gros ou en details.
            </p>
            <div class="bouton">
                <a routerLink="acceuil/produit">
                    <button class="btn bg-primary">
                        Produits
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
